## Preprocessing

In [53]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [55]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
app_df_clean = application_df.drop(columns=['EIN', 'NAME'])
app_df_clean.head(5)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [56]:
# Determine the number of unique values in each column.
app_df_clean.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [57]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
app_counts = app_df_clean['APPLICATION_TYPE'].value_counts()
app_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [58]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_counts[app_counts < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [59]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
class_counts = app_df_clean['CLASSIFICATION'].value_counts()
class_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [60]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts[class_counts > 1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [61]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_counts[class_counts < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [62]:
# Convert categorical data to numeric with `pd.get_dummies`
app_df_clean = pd.get_dummies(app_df_clean)
app_df_clean.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [63]:
# Split our preprocessed data into our features and target arrays
x = app_df_clean.drop(columns=['IS_SUCCESSFUL']).values
y = app_df_clean['IS_SUCCESSFUL'].values

In [64]:
x[0]

array([1, 5000, True, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, True, False, False, False, False, True, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, True, True,
       False, False, False, True, False, False, False, False, False,
       False, False, False, True, False], dtype=object)

In [65]:
y

array([1, 1, 0, ..., 0, 1, 0], dtype=int64)

In [66]:
# Split the preprocessed data into a training and testing dataset
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [67]:
x_train[0]

array([1, 5000, False, False, False, False, False, False, False, False,
       False, False, True, False, False, False, False, False, False,
       False, False, True, False, False, False, False, False, True, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, True, False,
       False, False, False, True, True, False, False, False, False, False,
       False, False, False, True, False], dtype=object)

In [68]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
x_scaler = scaler.fit(x_train)

# Scale the data
x_train_scaled = x_scaler.transform(x_train)
x_test_scaled = x_scaler.transform(x_test)
print(x_train_scaled[0])

[ 0.01350021 -0.03115182 -0.12527962 -0.02896422 -0.04440588 -0.00853781
 -0.00853781 -0.00603704 -0.17944646 -0.0209171  -0.00853781 -0.00853781
  0.51907853 -0.21911203 -0.18792753 -0.19092108 -0.14669078 -0.14746666
 -0.06792045 -0.91883987 -0.04399199  0.92492753 -0.02896422 -0.01207473
 -0.01909392 -0.01045683 -1.00933693  2.48241006 -0.0330837  -0.00853781
 -0.01811375  0.         -0.0170775  -0.0170775  -0.03196072 -0.00603704
 -0.00853781 -0.00603704 -0.01811375 -0.00853781 -0.01045683 -0.01045683
 -0.00853781 -0.05800148 -0.0170775  -0.03961783 -0.00603704 -0.04186168
 -0.00603704 -0.030797   -0.02002623 -0.00603704 -0.00603704 -0.01207473
 -0.09133405 -0.01350021 -0.00603704 -0.00603704 -0.02002623 -0.00603704
  0.         -0.46452418 -0.24401553 -0.00603704 -0.00603704  0.
 -0.02958772 -0.00603704 -0.01207473 -0.00603704 -0.00603704 -0.00603704
  0.         -0.05200177 -0.01045683 -0.05339263 -0.24552095 -0.00853781
  0.         -0.07561644 -0.01350021 -0.00603704 -0.00603704 -0.00603704
 -0.0540748   0.         -0.02002623  0.         -0.1525469  -0.04602453
 -0.02338731 -0.02896422 -0.01478901 -0.02259387 -0.01909392  0.
 -0.10793808 -0.06599836 -0.00853781  0.4707167  -0.44526614 -0.65319408
 -0.11991987 -0.03416994  0.67719293  0.63603083 -0.14887949 -0.1270683
 -0.32689081 -0.08372388 -0.17037257 -0.35069127 -0.06459105 -0.07135527
  0.02832705 -0.02832705]

## Compile, Train and Evaluate the Model

In [70]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
num_input_features = len(x_train[0])
layer_1_nodes = 80
layer_2_nodes = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=layer_1_nodes, 
                          input_dim=num_input_features, 
                          activation='relu')
)

# Second hidden layer
nn.add(
    tf.keras.layers.Dense(units=layer_2_nodes, 
                          input_dim=layer_1_nodes, 
                          activation='relu')
)


# Output layer
nn.add(
    tf.keras.layers.Dense(units=1, 
                          input_dim=layer_2_nodes, 
                          activation='sigmoid')
)

# Check the structure of the model
nn.summary()

Model: "sequential_2"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_6 (Dense)                 │ (None, 80)             │         9,360 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_7 (Dense)                 │ (None, 30)             │         2,430 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_8 (Dense)                 │ (None, 1)              │            31 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 11,821 (46.18 KB)

 Trainable params: 11,821 (46.18 KB)

 Non-trainable params: 0 (0.00 B)

In [71]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [72]:
# Train the model
fit_model = nn.fit(x_train_scaled, y_train, epochs=100)

Epoch 1/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 799us/step - accuracy: 0.7003 - loss: 0.5942
Epoch 2/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 770us/step - accuracy: 0.7288 - loss: 0.5523
Epoch 3/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 792us/step - accuracy: 0.7330 - loss: 0.5457
Epoch 4/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 816us/step - accuracy: 0.7356 - loss: 0.5454
Epoch 5/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 835us/step - accuracy: 0.7308 - loss: 0.5439
Epoch 6/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 778us/step - accuracy: 0.7306 - loss: 0.5474
Epoch 7/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 797us/step - accuracy: 0.7332 - loss: 0.5447
Epoch 8/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 783us/step - accuracy: 0.7340 - loss: 0.5426
Epoch 9/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 810us/step - accuracy: 0.7318 - loss: 0.5447
Epoch 10/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 776us/step - accuracy: 0.7376 - loss: 0.5394
Epoch 11/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 858us/step - accuracy: 0.7409 - loss: 0.5355
Epoch 12/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 805us/step - accuracy: 0.7374 - loss: 0.5404
Epoch 13/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 805us/step - accuracy: 0.7372 - loss: 0.5369
Epoch 14/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 824us/step - accuracy: 0.7347 - loss: 0.5399
Epoch 15/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 804us/step - accuracy: 0.7383 - loss: 0.5396
Epoch 16/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 789us/step - accuracy: 0.7340 - loss: 0.5411
Epoch 17/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 810us/step - accuracy: 0.7363 - loss: 0.5387
Epoch 18/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 836us/step - accuracy: 0.7387 - loss: 0.5357
Epoch 19/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 800us/step - accuracy: 0.7375 - loss: 0.5363
Epoch 20/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 883us/step - accuracy: 0.7352 - loss: 0.5380
Epoch 21/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 849us/step - accuracy: 0.7402 - loss: 0.5340
Epoch 22/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 846us/step - accuracy: 0.7365 - loss: 0.5396
Epoch 23/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 830us/step - accuracy: 0.7384 - loss: 0.5374
Epoch 24/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 806us/step - accuracy: 0.7372 - loss: 0.5360
Epoch 25/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 803us/step - accuracy: 0.7382 - loss: 0.5349
Epoch 26/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 803us/step - accuracy: 0.7404 - loss: 0.5345
Epoch 27/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 745us/step - accuracy: 0.7380 - loss: 0.5365
Epoch 28/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 791us/step - accuracy: 0.7452 - loss: 0.5281
Epoch 29/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 799us/step - accuracy: 0.7415 - loss: 0.5313
Epoch 30/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 778us/step - accuracy: 0.7403 - loss: 0.5327
Epoch 31/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 788us/step - accuracy: 0.7375 - loss: 0.5329
Epoch 32/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 807us/step - accuracy: 0.7420 - loss: 0.5330
Epoch 33/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 751us/step - accuracy: 0.7392 - loss: 0.5354
Epoch 34/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 776us/step - accuracy: 0.7403 - loss: 0.5323
Epoch 35/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 756us/step - accuracy: 0.7420 - loss: 0.5319
Epoch 36/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 801us/step - accuracy: 0.7380 - loss: 0.5337
Epoch 37/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 794us/step - accuracy: 0.7381 - loss: 0.5366
Epoch 38/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 798us/step - accuracy: 0.7390 - loss: 0.5346
Epoch 39/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 870us/step - accuracy: 0.7395 - loss: 0.5337
Epoch 40/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 818us/step - accuracy: 0.7396 - loss: 0.5330
Epoch 41/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 840us/step - accuracy: 0.7477 - loss: 0.5255
Epoch 42/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 837us/step - accuracy: 0.7441 - loss: 0.5275
Epoch 43/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 839us/step - accuracy: 0.7334 - loss: 0.5372
Epoch 44/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 849us/step - accuracy: 0.7371 - loss: 0.5353
Epoch 45/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 852us/step - accuracy: 0.7399 - loss: 0.5315
Epoch 46/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 837us/step - accuracy: 0.7481 - loss: 0.5274
Epoch 47/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 773us/step - accuracy: 0.7416 - loss: 0.5294
Epoch 48/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 771us/step - accuracy: 0.7443 - loss: 0.5297
Epoch 49/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 831us/step - accuracy: 0.7410 - loss: 0.5292
Epoch 50/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 803us/step - accuracy: 0.7417 - loss: 0.5267
Epoch 51/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 875us/step - accuracy: 0.7447 - loss: 0.5262
Epoch 52/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7367 - loss: 0.5340
Epoch 53/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 963us/step - accuracy: 0.7386 - loss: 0.5341
Epoch 54/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 976us/step - accuracy: 0.7488 - loss: 0.5205
Epoch 55/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7389 - loss: 0.5329
Epoch 56/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 928us/step - accuracy: 0.7437 - loss: 0.5277
Epoch 57/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 961us/step - accuracy: 0.7443 - loss: 0.5275
Epoch 58/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7395 - loss: 0.5344
Epoch 59/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 970us/step - accuracy: 0.7392 - loss: 0.5359
Epoch 60/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7409 - loss: 0.5306
Epoch 61/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 977us/step - accuracy: 0.7454 - loss: 0.5296
Epoch 62/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 946us/step - accuracy: 0.7436 - loss: 0.5282
Epoch 63/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 993us/step - accuracy: 0.7414 - loss: 0.5272
Epoch 64/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 934us/step - accuracy: 0.7455 - loss: 0.5263
Epoch 65/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 920us/step - accuracy: 0.7426 - loss: 0.5287
Epoch 66/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 963us/step - accuracy: 0.7394 - loss: 0.5312
Epoch 67/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7417 - loss: 0.5284
Epoch 68/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 978us/step - accuracy: 0.7431 - loss: 0.5275
Epoch 69/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7468 - loss: 0.5264
Epoch 70/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 999us/step - accuracy: 0.7438 - loss: 0.5281
Epoch 71/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7500 - loss: 0.5238
Epoch 72/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 972us/step - accuracy: 0.7423 - loss: 0.5251
Epoch 73/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 950us/step - accuracy: 0.7386 - loss: 0.5313
Epoch 74/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 955us/step - accuracy: 0.7424 - loss: 0.5301
Epoch 75/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 944us/step - accuracy: 0.7449 - loss: 0.5258
Epoch 76/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 998us/step - accuracy: 0.7387 - loss: 0.5314
Epoch 77/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7427 - loss: 0.5278
Epoch 78/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7404 - loss: 0.5299
Epoch 79/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7460 - loss: 0.5252
Epoch 80/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 913us/step - accuracy: 0.7451 - loss: 0.5254
Epoch 81/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 967us/step - accuracy: 0.7467 - loss: 0.5261
Epoch 82/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 926us/step - accuracy: 0.7464 - loss: 0.5231
Epoch 83/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 932us/step - accuracy: 0.7442 - loss: 0.5262
Epoch 84/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7447 - loss: 0.5255
Epoch 85/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 980us/step - accuracy: 0.7423 - loss: 0.5286
Epoch 86/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7434 - loss: 0.5276
Epoch 87/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 976us/step - accuracy: 0.7431 - loss: 0.5281
Epoch 88/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 889us/step - accuracy: 0.7439 - loss: 0.5262
Epoch 89/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 953us/step - accuracy: 0.7445 - loss: 0.5275
Epoch 90/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7428 - loss: 0.5260
Epoch 91/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 946us/step - accuracy: 0.7448 - loss: 0.5269
Epoch 92/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 870us/step - accuracy: 0.7418 - loss: 0.5259
Epoch 93/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 894us/step - accuracy: 0.7440 - loss: 0.5265
Epoch 94/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 911us/step - accuracy: 0.7436 - loss: 0.5276
Epoch 95/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 874us/step - accuracy: 0.7423 - loss: 0.5283
Epoch 96/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 903us/step - accuracy: 0.7385 - loss: 0.5303
Epoch 97/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 900us/step - accuracy: 0.7450 - loss: 0.5244
Epoch 98/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 874us/step - accuracy: 0.7389 - loss: 0.5310
Epoch 99/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 907us/step - accuracy: 0.7407 - loss: 0.5289
Epoch 100/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 889us/step - accuracy: 0.7421 - loss: 0.5287

In [74]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - 633us/step - accuracy: 0.7297 - loss: 0.5666
Loss: 0.5665794610977173, Accuracy: 0.7297375798225403

In [75]:
# Export our model to HDF5 file
nn.save('alphabet_soup.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.